#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: rgba(144, 35, 35, 0.1);
  /* Glass-like transparent background */
  color: #eda9a9;
  backdrop-filter: blur(10px);
  /* Frosted glass effect */
  border-radius: 10px;
  /* Optional: Add some border-radius for a smoother look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for separation from the background */
}

#layout-header nav .mini-logo p {
  margin: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

#layout-header nav .auth-links ul {
  margin: 5% 5px;
  display: flex;
}

#layout-header nav .auth-links ul li {
  margin-right: 10px;
}

#layout-header nav a {
  color: #170d0d;
  text-decoration: none;
}
